{% extends 'base.html' %}

{% block content %}
<!--====================================================
                        ABOUT-P1
======================================================-->
    <section id="about-p1">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="about-p1-cont">
                        <h1>One stop destination to learn Data Structures  </h1>
                        <p>Learning to code is incomplete without learning to use Data Structures efficiently. 
                            Data Structures form the foundation of any programming language and it is the 
                            responsibility of every programmer to understand and apply them intelligently to 
                            solve the problems of computer science. </p>
                        <p> Data structures are always considered a bit intimidating. 
                            Codestrup aims at making the learning of data structures easier by using images, real life examples and gifs for explanation. </p>
                        <p>We guide users across the globe so that they can effectively use different data structures
                            and develop strong concepts through challenges, Codestrup is the perfect place to get started. 
                            An integrated code editor will help the you to test the code as you learn because practice is 
                            the secret weapon when it comes to programming. </p>
                        <p> DS is no more a fear!</p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-p1-img">
                        <img src="static/img/ipad-tablet.png" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--====================================================
                     ABOUT-P3
======================================================-->
    <section id="story" class="about-p3">
        <div class="container ">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="story-himg story-himg-middle-u">
                        <img src="static/img/img/image-2.jpg" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="story-desc story-desc-middle ">
                        <h3>Challenge youself</h3>
                        <div class="heading-border-light"></div>
                        <p>Codestrup is an application that caters to all the needs of a beginner in programming 
                            and helps them master the 'Data Structures' almost instantly and effectively.
                            Our number one priority is the success of our users. We provide quizzes, exercises and many other exciting 
                            ways for student to check their progress and access how much they have learnt.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="story-himg story-himg-middle-l">
                        <img src="static/img/img/image-2.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>        
    </section>
    {% endblock %}