{% extends 'base3.html' %}

{% block content %}
<p>All Questions are mandatory, good luck!</p>
              <form action="/quizTr" method="post">
                {% for question in data %}
                <h4>{{ question.question }}</h4>

                {% for answer in question.answers %}
                <input type="radio" id="{{ answer }}" name="{{ question.id }}" value="{{ answer }}" checked> {{ answer }}<br>
                {% endfor %}

                {% endfor %}
                <br>
                <input type="submit" value="Submit" name="Submit"/>
            </form>

{% endblock %}
